"@cvte:registry" "http://artifactory.gz.cvte.cn/artifactory/api/npm/cvte-npm-registry/"
"@seewo-school:registry" "http://artifactory.gz.cvte.cn/artifactory/api/npm/cvte-npm-registry/"
"registry" "https://registry.npm.taobao.org"
