
.custom-emoji-parse {
  &-wrap {
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden;
    align-items: center;
  
    img {
      display: inline-block;
      width: 24px;
      height: 24px;
    }
  }

  &-copy-text {
    cursor: text;
    display: inline-flex;
    flex-wrap: nowrap;
    font-size: 1px;
    height: 100%;
    left: 0;
    outline: none;
    position: absolute;
    width: 100%;
    z-index: 2;
    bottom: -40px;
  }

}