@import '../../../assets/styles/fn.less';
@import '../../../assets/styles/var.less';



.emoji-variation-picker {
  &-wrap {
    padding: var(--emoji-variation-picker-wrap-padding);
    .clear();
    justify-content:  space-around;
    flex-wrap: wrap;
  }
  &-pre-line {
    justify-content: start;
    margin-bottom: var(--emoji-picker-pre-line-margin-bottom);
    &:last-child {
      margin-bottom: 0;
    }
    svg {
      cursor: pointer;
    }
  }
  &-item {
    position: relative;    
    transition: transform .6s;
    &:hover {
      transform: scale(1.6);
    }
  }
}