.custom-emoji-component {

  // 表情列表
  --emoji-variation-picker-pre-line-margin-bottom: 24px;
  
  --emoji-variation-picker-wrap-padding: 8px 16px;

  --emoji-picker-pre-line-margin-bottom: 24px;


  // 表情点赞记录列表

  --emoji-reaction-record-bgColor: #F4F6F9;

  --emoji-reaction-record-container-min-width: 80px;

  --emoji-reaction-record-border-radius:  21px;//9999999px; 

  --emoji-reaction-record-padding: 8px 14px 8px 12px;

  --emoji-reaction-record-img-width:  16px;

  --emoji-reaction-record-img-height:  16px;

  --emoji-reaction-record-line-margin-left:  -6px;

  --emoji-reaction-record-text-color:  #191D26;

  --emoji-reaction-record-font-size: 12px;

  --emoji-reaction-record-img-margin: 0 13px 0 0;

  --emoji-reaction-record-font-weight: 400;

  --emoji-reaction-record-line-height: 20px;

  --emoji-reaction-record-font-height: 15px;

  --emoji-reaction-record-text-margin: 0 8px 0 0;

  --emoji-reaction-record-text-max-width: 60px;


  // 表情点赞面板
  --emoji-reaction-plan-container-padding: 8px 16px;

  --emoji-reaction-plan-item-width: 24px;

  --emoji-reaction-plan-item-height: 24px;

  --emoji-reaction-plan-item-margin: 0 8px 0 0;
}